.wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.canvas_wrapper{
    width:500px;
    margin: 0 auto;
    height: 500px;
}
.canvas{
    background-color: black;
    width: 100%;
    height: 100%;
}
.start_buttons{
    margin: 20px 0  0 10px;
    display: flex;
    justify-content: space-around;
}
.settings_buttons{
    margin: 20px auto;
    border-radius: 30px;
    border: 5px solid grey;
    width: fit-content;
}
.simple_button{
    border-radius: 30px 0 0 30px;
}
.community_button{
    border-radius: 0 30px 30px 0;
}