.wrapper{
    width: 45%;
}
.graph{
    width: 80%;
    margin: 0 auto;
}
.canvas{
    background-color: black;
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.settings{
    display: flex;
    flex-direction: column;
}